body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 1em;
    background-color:#fff;
    color:#333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}
.Education{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.project {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color:#333;
}
.CERTIFICATIONS{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    section {
        margin: 10px;
    }
}
